bin/Debug/net9.0/Newtonsoft.Json.dll
bin/Debug/net9.0/SentimentRestDemo.deps.json
bin/Debug/net9.0/SentimentRestDemo.dll
bin/Debug/net9.0/SentimentRestDemo.exe
bin/Debug/net9.0/SentimentRestDemo.pdb
bin/Debug/net9.0/SentimentRestDemo.runtimeconfig.json
obj/project.assets.json
obj/project.nuget.cache
obj/SentimentRestDemo.csproj.nuget.dgspec.json
obj/SentimentRestDemo.csproj.nuget.g.props
obj/SentimentRestDemo.csproj.nuget.g.targets
obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
obj/Debug/net9.0/apphost.exe
obj/Debug/net9.0/Sentimen.F52C557D.Up2Date
obj/Debug/net9.0/SentimentRestDemo.AssemblyInfo.cs
obj/Debug/net9.0/SentimentRestDemo.AssemblyInfoInputs.cache
obj/Debug/net9.0/SentimentRestDemo.assets.cache
obj/Debug/net9.0/SentimentRestDemo.csproj.AssemblyReference.cache
obj/Debug/net9.0/SentimentRestDemo.csproj.CoreCompileInputs.cache
obj/Debug/net9.0/SentimentRestDemo.csproj.FileListAbsolute.txt
obj/Debug/net9.0/SentimentRestDemo.dll
obj/Debug/net9.0/SentimentRestDemo.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net9.0/SentimentRestDemo.genruntimeconfig.cache
obj/Debug/net9.0/SentimentRestDemo.GlobalUsings.g.cs
obj/Debug/net9.0/SentimentRestDemo.pdb
obj/Debug/net9.0/ref/SentimentRestDemo.dll
obj/Debug/net9.0/refint/SentimentRestDemo.dll
